arxiv==1.4.3
PyMuPDF==1.21.1
requests==2.32.4
tiktoken==0.2.0
tenacity==8.2.2
pybase64==1.2.3
Pillow==10.3.0
openai==0.27.0
markdown
jieba
gradio==5.31.0
flask==2.2.5
flask-cors==6.0.0
bs4==0.0.1
urllib3==2.6.3
